<div>
    <div *ngIf="alertupdate"   class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Congrats</strong> Bank Card Details updated successfully.
        <button (click) = "close_alert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div *ngIf="altersubmit"   class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Congrats !</strong> Bank Card Details submitted successfully.
        <button (click) = "close_alert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="id" [value]="service.formData.id" />
    <div class="form-group">
        <label>CARD OWNER NAME</label>
        <input class="form-control form-control-lg" placeholder="Full Name" name="cardOwnerName"
            #cardOwnerName="ngModel" [(ngModel)]="service.formData.cardOwnerName"
            required pattern="^[A-Z][a-z]{2,}(\s[A-Z][a-z]{2,})*$" maxlength="30" [class.invalid]="cardOwnerName.invalid &#038;&#038; cardOwnerName.touched">
            <small class="text-danger" 
                    *ngIf="!cardOwnerName?.valid && cardOwnerName?.touched">
                Please Enter a Valid Name
                </small>
    </div>
    <div class="form-group">
        <label>CARD NUMBER</label>
        <input class="form-control form-control-lg" placeholder="16 Digit Card Number" name="cardNumber"
            #cardNumber="ngModel" [(ngModel)]="service.formData.cardNumber"
            required maxlength="16" minlength="16" [class.invalid]="cardNumber.invalid &#038;&#038; cardNumber.touched">
            <small class="text-danger" 
            *ngIf="!cardNumber?.valid && cardNumber?.touched">
        Please Enter a Valid Card Number
        </small>
        </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>SECURITY CODE</label>
            <input type="password" class="form-control form-control-lg" placeholder="Security Code" name="securityCode"
                #securityCode="ngModel" [(ngModel)]="service.formData.securityCode"
                required maxlength="3" minlength="3" [class.invalid]="securityCode.invalid &#038;&#038; securityCode.touched">
                <small class="text-danger" 
                *ngIf="!securityCode?.valid && securityCode?.touched">
            Please Enter a Valid Security Code
            </small>
            </div>
        <div class="form-group col-md-6">
            <label>VALIDE THROUGH</label>
            <input class="form-control form-control-lg" placeholder="MM/YY" name="expirationDate"
                #expirationDate="ngModel" [(ngModel)]="service.formData.expirationDate"
                required maxlength="5" minlength="5" [class.invalid]="expirationDate.invalid &#038;&#038; expirationDate.touched">
                <small class="text-danger" 
                *ngIf="!expirationDate?.valid && expirationDate?.touched">
            Please Enter a Valid Data
            </small>
            </div>
    </div>
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>
</form>

</div>