<div>
    <div *ngIf="alert_delete"   class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Congrats !</strong> Deletion successful. 
        <button (click) = "close_alert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Card Owner</th>
                <th>Card Number</th>
                <th>Exp.</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tr *ngFor="let pd of service.list">
            <td>{{pd.cardOwnerName}}</td>
            <td>{{pd.cardNumber}}</td>
            <td>{{pd.expirationDate}}</td>
            <td>
                <i type="button" class="fa fa-trash" (click)="onDelete(pd.id)"  style="font-size: 20px; color:red;"></i>
            </td>
            <td>
                <i type="button" class="fa fa-edit px-3" (click)="populateForm(pd)" data-toggle="button" style="font-size: 20px; color:rgb(37, 98, 185);"></i>
            </td>
        </tr>
    </table>

</div>